.test_image_and_result {
    background-color: aquamarine;
    margin: 20px;
   border-radius: 20px;
   padding-left: 50px;
   padding-top: 30px;
   padding-bottom: 15px;

}

img {
    border:solid 5px blanchedalmond ;
    border-radius: 45px;
    margin: 20px;
}

h5 {
    color: rgb(43, 0, 255);
    font-size: 20px;
    
    

}

li b {
    color: rgb(43, 0, 255);
    font-size: 30px;

}

h4{
    color: rgb(43, 0, 255);

}